:root {
  /*Основные шрифты*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-txt: #2196f3;
  /*Цвет текста светлая тема*/
  --primary-txt--mode-light: #212121;
  --secondary-txt--mode-light: #757575;
  /*Цвет текста темная тема*/
  --primary-txt--mode-black: #ffffff;
  --secondary-txt--mode-black: rgba(255, 255, 255, 0.6);
  /* Цвет фона */
  --main-bg: #e5e5e5;
  /* Светлая тема фона */
  --light-bg: #f5f4fa;
  /* Темная тема фона */
  --dark-bg: #2f303a;
}
/* Страница Студия */
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-txt--mode-light);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* Прячем заголовки */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

/* Студия и портфолио хедер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 1px solid #ececec;
}
.container-header {
  display: flex;
  align-items: center;
}
.header-link {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}
.logo {
  color: var(--accent-txt);
}
.nav-list .link.current {
  color: var(--accent-txt);
}
.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt);
}

.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  font-weight: 500;
  color: var(--secondary-txt--mode-light);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-txt);
}

/* Студия меин */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-bg);
  text-align: center;
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-txt--mode-black);
}
.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-txt);
  color: var(--primary-txt--mode-black);
  text-align: center;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-text {
  margin-top: 10px;
  color: var(--secondary-txt--mode-light);
}
.services {
  padding-top: 0;
}
.services-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.services-list {
  display: flex;
  margin-top: 50px;
}
.services-item:not(:last-child) {
  margin-right: 30px;
}
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  margin-top: 50px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  background-color: var(--primary-txt--mode-black);
  text-align: center;
}
.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-skill {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}

/* Студия и портфолио футер */
.footer {
  background-color: var(--dark-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-txt--mode-black);
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.address-link {
  color: var(--primary-txt--mode-black);
}
.address-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Страница Портфолио */
.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.examples-name-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.examples-name-item:not(:last-child) {
  margin-right: 8px;
}
.examples-name-btn {
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--light-bg);
}
.examples-name-btn:hover,
.examples-name-btn:focus {
  background-color: #188ce8;
  color: var(--primary-txt--mode-black);
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
}
.examples-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.examples-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-item:nth-child(3n) {
  margin-right: 0;
}
.examples-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.examples-subject {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-txt--mode-light);
}
.examples-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}
